/*
Theme Name:   Twenty Seventeen Child
Theme URI:    https://framagit.org/BECUE/moreen-child-theme
Description:  Twenty Seventeen Child Theme
Author:       Béatrice BECUE
Author URI:   https://framagit.org/BECUE
Template:     twentyseventeen
Version:      1.0.0
*/

/* put your css code here */

/*change the color of the title in the photo entete*/
.body.has-header-image .site-title, body.has-header-video .site-title, body.has-header-image .site-title a, body.has-header-video .site-title a{
color: brown;
}
/*change the color of the title in the description of the title*/
body.has-header-image .site-description, body.has-header-video .site-description{
    color: brown;
}
/*change the color the font and the font-familly*/
p {
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: oblique;
}
/*change the color of the article title*/
.entry-title a {
    color: purple;
}


/*change the layout of the grid article*/
.wrap{
    display: grid;
}
.imprint{
    display: none;
}